html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.form{
	margin-top: 100px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	background-color: #f8f8f8;
	padding: 30px;
}

h3{
	margin-top: 0px;
}

.regist{
	color: #5bc0de;
	font-size: 18px;
}

.regist:hover {
    color: #3c763d;
    text-decoration: none;
}

.btn-div {
	margin-top: 30px;
	margin-bottom: 0px;
}

.bday {
	padding-top: 10px;
}

.captcha{
	margin-top: 3px;
}

.fb-list{
	margin: 30px 0px 30px;
}

.main-content{
	margin-top: 100px;
}

.top-part{
	font-size: 19px;
	padding: 5px;
}

th{
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	text-align: center;
}

td{
	text-align: center;
}

tr{
	height: 60px;
	border-bottom: 1px solid #e7e7e7;
}

tbody{
	font-size: 16px;
}

.cltext{
	font-size: 12px;
	margin-left: 10px;
}

.temp-value{
	font-size: 21px;
	font-weight: bold;
}

.day-part{
	font-size: 17px;
	font-weight: bold;
}

/* ### HEADER ### */

.site-header {
	font-size: 24px;
	margin: 6px;
}

.site-header a{
	color: #3c763d;
}

.navbar-default .navbar-nav > li > a {
	color: #337ab7;
}



/* ### FOOTER ### */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	border: 1px solid #e7e7e7;;
}

.footer-text{
	margin-top: 20px;
}

















